html {
  background-color: #5c62c5;
  background-image: linear-gradient(135deg, #5c62c5 52%, #3f0268 100%);
  /* height: 100vh; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: transparent !important;
}

#root {
  display: flex;
  flex-wrap: wrap;
}
